@page "/"

<div class="om-home-img-container">
    <img src="/images/banner.jpg" alt="Image" class="hidden-lg-up img-fluid">
</div>
<section class="om-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-xs-center">
                <h2 class="om-gold-text om-title">Introduction</h2>
                <p class="om-subtitle">Expertise in Flux and chemical manufacturing for electronics since 1991 catering to many reputed PCB fabrication and Assembly companies spread all over India with exports to neighbouring countries.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row om-margin-t-mid">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                <div class="om-2-col-left">
                    <h3 class="om-gold-text">What we do</h3>
                    <img src="/images/products/all_products.png" alt="Image" class="om-margin-b-40 img-fluid" />
                    <p>
                        We manufacture Fluxes and chemicals for Electronics industry by professional well versed in soldering technology and Flux chemistry.
                        The consistent quality of products coupled with Technological expertise and prompt delivery schedules has positioned Orion Metis as an accomplished manufacturer in a competitive market over the past several years.
                    </p>
                    <p>
                        Assembly Fluxes manufactured to meet international standards and propreitory formulations for PCB facbrication find wide acceptance by many manufacturers.
                    </p>
                    <p>
                        The choice of chemicals employed in the formulations are carefully selected based on the knowledge and experience gained over the years resulting in high quality products at competitive prices.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">

                <div class="om-content-box">
                    <img src="/images/iso_certification.png" alt="Image" class="om-margin-b-30 img-fluid">
                    <h4 class="om-margin-b-20 om-gold-text">Certification</h4>
                    <p class="om-margin-b-20">
                        Accredited with ISO 9001:2000 in the year 2001 and later recertified to ISO 9001:2008 in the year 2010 and upgraded to ISO 9001:2015 in the year 2016 establishes its commitment to highest quality and customer satisfaction
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="customer">
    <div class="container-fluid">
        <div class="row om-margin-t-mid">
            <div class="col-xs-12">
                <h3 class="om-gold-text">Our Privilaged customers</h3>
                <img src="/images/customers.png" alt="Image" class="om-margin-b-40 img-fluid" />
            </div>
        </div>
    </div>
</section>